@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('./Teko-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: normal;
  src: url('./Teko-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('./Teko-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('./Teko-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url('./Teko-Bold.ttf') format('truetype');
}
